@font-face {
    font-family: OpenSansBold;
    src: url("../fonts/OpenSans-SemiBold.ttf");
  }
@font-face {
    font-family: OpenSansLight;
    src: url("../fonts/OpenSans-Light.ttf");
  }

:root{
    --font-style-bold : OpenSansBold;
    --font-style-light : OpenSansLight;
    
    --body-bg-color:#222121;

    --card-bg-color:#201d1d;

    --button-bg-color:#201d1d;
    
    --button-bg-color-hover:#2b2727;
    
    --card--border-color:#000000;
    --icon-color:#3f3e3e;


    --text-color:#d3d4dae0;
    
    /* --text-color: rgba(255, 255, 255, 0.877); */
    /* --shadow-color:#4a4e69; */
    --todo-shadow-color-1:rgba(0, 132, 255, 0.425);
    --todo-shadow-color-1-hover:rgb(0, 132, 255);
    --todo-shadow-color-4:rgba(128, 0, 255, 0.425);
    --todo-shadow-color-4-hover:rgb(128, 0, 255);
    --todo-shadow-color-2:rgba(255, 166, 0, 0.55);
    --todo-shadow-color-2-hover:rgb(255, 166, 0);
    --todo-shadow-color-3:rgba(0, 255, 21, 0.377);
    --todo-shadow-color-3-hover:rgb(0, 255, 21);


    --todo-bg-color:#26272b9a;


    --modal-bg-color:#4a4e694a;
}
*{
    transition: background-color 0.2s linear;

}
body{
    background-color: var(--body-bg-color);
    color:var(--text-color);
    font-family: var(--font-style-bold);
}
h1{
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.day-card{
    background-color: blue;
    flex-basis: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--card-bg-color);
    border: 2px solid var(--icon-color);
    border-radius: 8px;
    /* box-shadow: 0px 0px 4px var(--shadow-color); */
}
.day-container{
    display: flex;
    gap: 10px;
    width: 100%;

}

.todo-container{
    display: flex;
    gap: 10px;
    
    
}

.button-container{
    flex-basis: 25%;
    border-radius: 7px;
    width: 100%;
    padding: 8px;
    /* box-shadow: 4px 4px 2px var(--shadow-color); */
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.day-todos-container{
    /* background-color: var(--card-bg-color);
    border:2px solid var(--card--border-color); */
    flex-basis: 25%;
    border-radius: 7px;
    width: 100%;
    padding: 8px;
    /* box-shadow: 4px 4px 2px var(--shadow-color); */
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.day-todos-container-2{
    /* background-color: var(--card-bg-color);
    border:2px solid var(--card--border-color); */
    flex-basis: 25%;
    border-radius: 7px;
    width: 100%;
    padding: 8px;
    /* box-shadow: 4px 4px 2px var(--shadow-color); */
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.button{
    background-color: var(--button-bg-color);
    height: 40px;
    border-radius: 7px;
    border: 1px solid var(--icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    transition: background-color 0.2s linear,
                box-shadow 0.2s linear;
    cursor: pointer;


}
.button:hover{
    background-color: var(--button-bg-color-hover);
    /* box-shadow: 0px 0px 6px var(--shadow-color); */
    

}

svg{
    fill: var(--icon-color);
}

.todo{
    width: 100%;
    /* border: 2px solid var(--card--border-color); */
    border-radius: 7px;
    background-color: var(--todo-bg-color);
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-size: 14px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    transition: box-shadow 0.2s linear;
}

#from{
    align-self: flex-start;
}
#to{
    align-self: flex-end;
    
}
#lesson{
    align-self: center;
}

.visible{
    visibility: visible;
}

.not-visible{
    visibility: hidden;
}
.modal{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--modal-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.close{
    cursor: pointer;
}
.save{
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
    background-color: var(--button-bg-color);
    /* border:2px solid var(--card--border-color); */
    padding: 20px;
    border-radius: 8px;
    font-family: var(--font-style-bold);
    gap: 10px;
}

form>div{
    display: flex;
    flex: 1;    
    gap: 10px;
}
label{
    flex: 1;
}
input[type="time"]{
    background-color: var(--button-bg-color);
    border: 2px solid var(--button-bg-color-hover);
    height: 30px;
    border-radius: 20px;
    
}
input[type="text"]{
    background-color: var(--button-bg-color);
    border: 2px solid var(--button-bg-color-hover);
    border-radius: 10px;
    padding: 3px;
    text-align: right;

}
input{
    color: var(--text-color);
    font-family: var(--font-style-bold);
}
input:focus{
    outline:0;
}

.save,.delete{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    transition: box-shadow 0.2s linear,
                color 0.2s linear,
                border 0.2s linear;

    background-color: var(--button-bg-color);
    color:var(--icon-color);
    border-radius: 20px;
    border: 1px solid var(--icon-color);
    align-self: flex-end;
    width: fit-content;
    padding: 10px;
    min-width: 60px;
}

.save:hover{
    background-color: var(--button-bg-color-hover);
    color: rgba(3, 255, 3, 0.715);
    border: 1px solid rgba(3, 255, 3, 0.715);


}



.delete:hover{
    background-color: var(--button-bg-color-hover);
    color: rgba(255, 3, 3, 0.715);
    border: 1px solid rgba(255, 3, 3, 0.715);


}

.color-wrapper{
    display: flex;
    justify-content: space-around;
}

.color1{
    background:linear-gradient(to bottom right, var(--todo-shadow-color-1-hover) ,var(--todo-shadow-color-1));
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.color2{
    background:linear-gradient(to bottom right, var(--todo-shadow-color-2-hover) ,var(--todo-shadow-color-2));
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.color3{
    background:linear-gradient(to bottom right, var(--todo-shadow-color-3-hover) ,var(--todo-shadow-color-3));
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.color4{
    background:linear-gradient(to bottom right, var(--todo-shadow-color-4-hover) ,var(--todo-shadow-color-4));
    height: 30px;
    width: 30px;
    border-radius: 50%;
}


.isSelected{
    border: 1px solid white;
}

.button-wrapper{
    justify-content: center;
}

.box-shadow-1{
    box-shadow: 0px 0px 8px var(--todo-shadow-color-1);
}
.box-shadow-1:hover{
    box-shadow: 0px 0px 8px var(--todo-shadow-color-1-hover);

}
.box-shadow-2{
    box-shadow: 0px 0px 8px var(--todo-shadow-color-2);
}
.box-shadow-2:hover{
    box-shadow: 0px 0px 8px var(--todo-shadow-color-2-hover);

}
.box-shadow-3{
    box-shadow: 0px 0px 8px var(--todo-shadow-color-3);
}
.box-shadow-3:hover{
    box-shadow: 0px 0px 8px var(--todo-shadow-color-3-hover);

}
.box-shadow-4{
    box-shadow: 0px 0px 8px var(--todo-shadow-color-4);
}
.box-shadow-4:hover{
    box-shadow: 0px 0px 8px var(--todo-shadow-color-4-hover);

}



.box-shadow-1-white{
    background-color: var(--todo-shadow-color-1-hover);
}
.box-shadow-1-white:hover{
    border: 2px solid var(--card--border-color);
}
.box-shadow-2-white{
    background-color: var(--todo-shadow-color-2-hover);

}
.box-shadow-2-white:hover{
    border: 2px solid var(--card--border-color);
}
.box-shadow-3-white{
    background-color: var(--todo-shadow-color-3-hover);

}
.box-shadow-3-white:hover{
    border: 2px solid var(--card--border-color);
}
.box-shadow-4-white{
    background-color: var(--todo-shadow-color-4-hover);

}
.box-shadow-4-white:hover{
    border: 2px solid var(--card--border-color);
}


.tittle-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.theme-button{
    cursor: pointer;
    background-color: var(--button-bg-color);
    padding: 10px;
    border: 1px solid var(--card--border-color);
    border-radius: 10px;
}


.white-todo{
    background-color: none;
    border: none;
    box-shadow: none;
}


@media screen and (max-width: 768px) {

    main{
        flex-direction: row !important;
        height: 100vh;
    }

    .day-container{
        flex-direction: column;
        flex-basis: 14%;
    }
    .todo-container{
        flex-direction: column;
    }
    .button{
        height: 100%;
    }

    .todo-container-2{
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .day-todos-container-2{
        flex-direction: row;
        align-items: center;
    }

    .todo{
        min-width: 100px;
        max-width: 120px;
        max-height: 87.6px;
    }
  }


  .todo-container-2{
    display: flex;
    gap: 10px;

  }